/*css variables*/
:root{
	--primaryColor: rgb(255, 2, 141);
	--mainWhite: #fff;
	--mainBlack: #000;
	--mainGrey: rgb(77, 77, 77);
}
/* body */
body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}
.color {
	color: var(--primaryColor);
}
.heading {
	color: var(--primaryColor);
	margin-bottom: 20px;
} 
.centerHeading {
	margin-bottom: 30px;
}
.logo {
	color: var(--primaryColor) !important;
}
.signUpButton {
	background-color: var(--primaryColor);
}
.carousel {
	margin: 0 !important;
	padding: 0 !important;
}
.banner1 {
	/* background: linear-gradient(rgba(255, 2, 141, 0.7), rgba(255, 2, 141, 0.3)), url(./assets/images/bannerImage1.jpg) no-repeat center/cover fixed; */
	/* min-height: calc(100vh - 32px); */
	position: relative;
}	
.carousel img {
	width: 100%;
	z-index: 1;
	height: 75vh;
}
.arrowBlock {
	color: #fff;
	font-size: 2rem;
	position: absolute;
    top: 50%;
	width: 100%;
	transform: translate(0, -50%);
	cursor: pointer;
}
.arrowBlock .left{
	position: absolute;
    left: 0%;
    margin-left: 20px;
}
.arrowBlock .right {
	position: absolute;
    right: 0%;
    margin-right: 20px;
}
#firstCircle, #secondCircle, #thirdCircle{
	position: absolute;
	bottom: 10%;
	font-size: 1rem;
	cursor: pointer;
}
#firstCircle{
   left: 45%;
}
#secondCircle {
	left: 50%;
}
#thirdCircle {
	left: 55%;
}
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
    transform: translate(-50%, -50%);
}
.learnMoreButton {
	padding: 10px 50px;
	color: var(--primaryColor);
	letter-spacing: 1px;
	background-color: #f8f9fa;
}
.learnMoreButton,
.getStartedButton,
.submitButton {
	transition-duration: 0.4s;
}
.learnMoreButton:hover {
	background-color: var(--primaryColor) !important;
	color: #fff;
}
.us {
	color: var(--primaryColor);
}
.getStartedButton {
	border: none;
	color: var(--primaryColor) !important;
	background: #fff;
	border: 1px solid var(--primaryColor);
    letter-spacing: 1px;
}
.getStartedButton:hover {
	background: var(--primaryColor);
	color: #fff !important;
}
.imageBorder {
	position: relative;
}
.imageBorder > img 	{
	border-radius: 20px 100px 100px 20px;
}
.roundedBorderAbove {
	position: absolute;
    border: 2px solid var(--primaryColor);
    top: 30%;
	left: 56%;
	transform: translate(-50%, -50%);
    width: 275px;
	height: 183px;
	border-radius: 20px 100px 100px 20px;
	z-index: -1;
}
.roundedBorderBelow {
	position: absolute;
    border: 2px solid var(--primaryColor);
    top: 73%;
    left: 43%;
    transform: translate(-50%, -50%);
    width: 275px;
    height: 183px;
    border-radius: 20px 100px 100px 20px;
    z-index: -1;
}
.featuresIcon {
	color: rgb(255, 2, 141);
    text-align: center;
    width: 100%;
    font-size: 50px;
    margin-bottom: 12px;
}
.featuresCard {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
	word-wrap: break-word;
}
.dashboard {
	background: rgb(217, 217, 217);
}
.headingReviews {
	color: rgb(77, 77, 77);

}
.cardReview {
	border: none !important;
}
.signUpBar {
	background: linear-gradient(rgba(255, 2, 141, 0.6), rgba(255, 2, 141, 0.3));
}
.signUpForm {
	background: linear-gradient(rgba(153, 153, 153, 0.5), rgba(153, 153, 153, 0.1)), url(./assets/images/concert.jpeg) no-repeat center/cover fixed;
}
input:focus,
textarea:focus  {
	background: rgb(217, 217, 217) !important;
}

.inputUserDetails {
	background: rgb(217, 217, 217);
}
.active {
	display: block;
}
.inactive {
	display: none;
}